# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Environment and secrets
Scripts/Homework/4/.env
.env
Scripts/Homework/4/wavelab-489808-3947db1b89fb.json
Scripts/Homework/4/wavelab-489808-709da7d35394.json
pipeline.log

# Service account keys and local secrets
keys/
venv/

pipelines/data/
Scripts/Homework/4/data/